#root{
  height: 100vh;
}

* {
  box-sizing: border-box;

}

.outside {
  display: flexbox;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: start;
  background-color:rgb(237, 237, 237);
}

.heading {
  color:black;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.joinInput {
  border-radius: 15%;
  padding: 15px 20px;
  width: 100%;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #25D366;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outside {
    height: 100%;
  }

  .inside {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}